.testimonial{
    height: 90%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(218, 210, 210);
    overflow: hidden;
}
.testimonialTitle{
    margin-top: 2em;
   /* border: 1px solid rebeccapurple; */
    

}
.horizentalLine{
    margin-top: 1em;
    border: 1px solid black;
    height: 0;
    width: 9em;
    margin-left: 7em;
}
#down{
   margin-top:0em;
}

.coustomerAndReview{
    /* border:2px solid black; */
    margin: 4em ;
    width: 70%;
    height: 70vh;
    display: flex;
    /* flex-direction: row; */
}




.coustomerImage {
    width: 50%;
    height: 100%;
   
    /* border: 1px solid black; */
    background-color: pink;

}
.coustomerImage img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
   
    
}
.coustomerReview{
    width: 50%;
    /* border: 1px solid black; */
    background-color: white ;
    text-wrap: wrap;
    padding: 30px;

}
#commas{
    font-size: 40px;

}
.Name,
.place {
    color: gray;
    font-size: 20px;
}
